<div class="sidemenu-footer">
        <a href="mailto:yo@vbalex.com"><i class='fa fa-envelope glyphicon' aria-hidden="true"></i></a>
        <a href="https://telegram.me/vbalex"><i class='fab fa-telegram' aria-hidden="true"></i></a>
        <a href="https://www.github.com/alexvargasbenamburg" target="_blank"><i class='fab fa-github'
                        aria-hidden="true"></i></a>
        <a href="https://gitlab.com/alexvargasbenamburg/" target="_blank"><i class='fab fa-gitlab'
                        aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/alexvargasbenamburg" target="_blank"><i class='fab fa-facebook-square'
                        aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/alexvargasbenamburg" target="_blank"><i class='fab fa-instagram'
                        aria-hidden="true"></i></a>
</div>