{{ partial "header.html" . }}
{{ .Content }}
{{if eq .Page.Title "Tutoriales"}}
<section>
    <ul>
        {{ range $key, $value := .Site.Taxonomies.tags }}


        {{ $.Scratch.Set "counter" 0 }}
        {{range $value.Pages}}
        {{ if eq .Section "tutoriales"}}
        {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
        {{end}}
        {{end}}


        {{ if ne ($.Scratch.Get "counter") 0}}
        <li>
            <h4>{{ $key }}</h4>
        </li>
        <ul>
            {{ range $value.Pages }}
            {{ if eq .Section "tutoriales"}}
            <li hugo-nav="{{ .RelPermalink}}">
                <a href="{{ .Permalink}}"> {{ .LinkTitle }} </a>
                <small>{{ .Params.tags}}</small>
            </li>
            {{ end }}
            {{ end }}
        </ul>
        {{ end }}
        {{ end }}
    </ul>
    </li>
</section>
{{ end }}
{{ template "_internal/pagination.html" . }}

{{ partial "footer.html" . }}